* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  padding: 10vh 0px;
}
.container {
  width: 50%;
  height: 80vh;
  margin: 0 auto;
}

.container img {
  width: 100%;
  height: 95%;
  display: block;
}

.container button {
  background: linear-gradient(90deg, #4f46e5, #7c3aed, #ec4899);
  border: none;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  cursor: pointer;
  width: 100%;
  height: 5%;
  margin: 0;
}
