*{
    margin: 0;
    padding: 0;
}

input {
    width: 50vw;
}

#main{
    display: flex;
    width: 100vw;
    justify-content: space-between;
}
.card{
    border: 0.5px solid black;
    width: 25vw;
}