* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
#main {
  height: 100vh;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
body {
  background-color: rgba(223, 221, 219, 0.247);
}
nav {
  height: 10vh;
  width: 100vw;
  display: flex;
  align-items: center;
}

.widthfull {
  width: 100vw;
  background-color: rgb(39, 120, 251);
}

.bodycenter {
  width: 80vw;
  margin: 0 auto;
}

#navdiv {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#navdiv ul {
  display: flex;
  justify-content: space-around;
  width: 30vw;
  list-style-type: none;
}

#navdiv button {
  padding: 12px 4px;
  border: none;
  border-radius: 5px;
  background-color: rgb(205, 221, 245);
  color: rgb(39, 120, 251);
  font-weight: bolder;
}

#mainContent {
  margin-top: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#leftdiv {
  width: 50%;
}

#headinginleftdiv span {
  color: rgb(39, 120, 251);
}

#parainleftdiv {
  margin: 20px 0px;
}

#bookbuttoninleftdiv {
  background-color: rgb(39, 120, 251);
  color: white;
  height: 50px;
  width: 180px;
  border-radius: 5px;
  border: none;
  padding: 5px 15px;
}

#rightdiv {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#achievementSection {
  margin-top: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
}

#achievementList {
  width: 40vw;
  display: flex;
  justify-content: space-around;
}

#bookservicesection {
  margin-top: 5vh;
  height: 100vh;
  display: flex;
  justify-content: space-between;
}
#bookleft {
  background-color: white;
  border-radius: 10px;
  width: 45%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
}

#bookleft h2 {
  font-size: xx-large;
}
.serviceprice {
  color: rgb(39, 120, 251);
  font-weight: bolder;
}
#bookleft ul {
  border-top: 4px solid rgba(223, 221, 219, 0.247);
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 60%;
  padding: 20px;
  border-bottom: 4px solid rgba(223, 221, 219, 0.247);
}

#bookleft ul li:nth-of-type(1) {
  font-weight: bolder;
  font-size: larger;
}
#bookleft ul li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3px;
}
#bookleft ul li button {
  width: 150px;
  padding: 10px;
  border: none;
  background-color: rgba(223, 221, 219, 0.247);
  border-radius: 5px;
}
#bookleft ul li button:hover {
  background-color: rgb(39, 120, 251);
}

#bookright {
  width: 30%;
  border-radius: 10px;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#topbookright {
  border-radius: 4px;
  background-color: white;
  height: 48%;
  display: flex;
  flex-direction: column;
}
#topbookright h3 {
  margin: 0 auto;
  padding: 10px 0px;
}

#tableinbookright {
  height: 75%;
}

table {
  table-layout: fixed;
  width: 100%;
}
#tablediv thead {
  background-color: rgba(223, 221, 219, 0.247);
  width: 100%;
}
#tablediv thead tr th {
  width: 12vw;
  padding: 8px 0px;
}

#tablebody tr td {
  width: 12vw;
  border-bottom: 1.5px solid grey;
}
#totalamountsection {
  padding: 0px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#bottombookright {
  border-radius: 4px;
  background-color: white;
  height: 48%;
  display: flex;
  flex-direction: column;
  align-items: space-around;
  justify-content: space-evenly;
  padding: 10px;
}
#bottombookright button {
  background-color: rgb(39, 120, 251);
  color: white;
  height: 50px;
  width: 100%;
  border-radius: 5px;
  border: none;
  padding: 5px 15px;
  margin-top: 10px;
  cursor: grab;
}

#bottombookright input {
  padding: 5px;
  border-radius: 4px;
  border: 3.5px solid rgba(223, 221, 219, 0.247);
  border-radius: 8px;
}
#bottombookright form {
  display: flex;
  flex-direction: column;
}
#lastpart {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
#qualitySection {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

#qualitySection div {
  width: 15vw;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
#qualitySection img {
  height: 150px;
  width: 150px;
  object-fit: cover;
}
#newsletterDiv {
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#newsletterInnerDiv {
  display: flex;
  align-items: center;
}

#newsletterInnerDiv {
  color: white;
}
#newsletterInnerDiv input {
  width: 20vw;
  padding: 10px 12px;
  border: none;
  background-color: rgb(110, 166, 255);
  color: white;
}
#newsletterInnerDiv ::placeholder {
  color: white;
}

#newsletterInnerDiv button {
  color: rgb(39, 120, 251);
  width: 20vw;
  padding: 8px 12px;
  border: none;
  margin-top: 5px;
  cursor: pointer;
}
footer {
  background-color: transparent;
  height: 40%;
  margin-top: 10vh;
  display: flex;
  justify-content: space-between;
}
#footerdiv {
  display: flex;
  justify-content: space-between;
}
footer div {
  width: 25%;
}
footer ul li {
  list-style-type: none;
}
#footerdiv div:nth-of-type(1) h3 {
  margin-top: 10px;
}

#footerdiv div:nth-of-type(1) p {
  color: rgb(141, 138, 138);
}

#footerdiv div:nth-of-type(2) ul {
  margin-top: 10px;
}
#footerdiv div:nth-of-type(2) a {
  text-decoration: none;
  color: rgb(141, 138, 138);
}

#footerdiv div:nth-of-type(3) ul {
  margin-top: 10px;
  color: rgb(141, 138, 138);
}

#footerdiv div:nth-of-type(4) h3 {
  margin-bottom: 10px;
}
#footerdiv div:nth-of-type(4) img {
  width: 25px;
  height: 25px;
}

#socialLogos {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.add_item {
  font-weight: bold;
  color: black;
}
.remove_item {
  font-weight: bold;
  color: rgb(157, 4, 4);
}
